{% extends 'layout/base.html' %}

{% block title %}{{book.title}}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/star.css') }}">
<div class="card mb-3 mt-4">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{book.image}}" class="img-fluid  my-3" alt="{{book.title}}">
        </div>
        <div class="col-md-8">
            <div class="card-body mt-2">
                <h2 class="card-title">{{book.title}}</h2>
                <div class="row mt-4">
                    <div class="col">
                        <p class="card-text fs-5 ">Tác giả: {{book.author}}</p>
                        <p class="card-text fs-5">Năm xuất bản: {{book.year}}</p>
                    </div>
                    <div class="col">
                        <p class="card-text fs-5">Nhà cung cấp: {{book.supplier}}</p>
                        <p class="card-text fs-5 ">Nhà xuất bản: {{book.publisher}}</p>
                    </div>
                </div>
                <p class="card-text fs-2  mt-5 text-danger"><b>{{ "{:,.0f}".format(book.price) }} đ</b></p>
                <div class="w-75 d-flex mt-4">
                    <span class="fs-4">Số lượng:</span>
                    <div class="input-group ms-4 w-25">
                        <input type="number" id="quantity" class="form-control text-center" value="1" min="1"
                               max="{{book.count}}">
                    </div>
                </div>
                <div class="mt-5 gap-4 d-flex">
                    <a href="javascript:;"
                       onclick="addToCart( {{book.id}}, '{{book.title|escape}}', {{book.price}}, '{{book.image}}' )">
                        <button class="btn btn-outline-danger fs-5" type="button" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">Thêm vào giỏ hàng
                        </button>
                    </a>
                    <a href="/cart">
                        <button class="btn btn-danger fs-5" type="button">Mua ngay</button>
                    </a>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="text-center">
                                        <i class="bi bi-check-circle text-success fs-1"></i>
                                    </div>
                                    <p class="text-center fs-2 text-success">Thêm thành công</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Mô tả: </h4>
        <p class="card-text fs-6">{{book.description}}</p>
    </div>
</div>

<div class="card mt-3">
    <div class="card-body">
        <h4 class="card-title">Bình luận</h4>
        {% if current_user.is_authenticated and current_user.user_role != role.ADMIN %}
        <div>
            <button class="btn btn-outline-danger mt-2" type="button" data-bs-toggle="modal"
                    data-bs-target="#commentModal">
                <i class="bi bi-pencil"> Viết đánh giá</i></button>
        </div>
        <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Bình luận</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="content" class="col-form-label">Bình luận:</label>
                                <textarea class="form-control" id="content"
                                          placeholder="Nhập nội dung bình luận ở đây..."
                                          rows="5" cols="33"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="text-center mb-3">
                        <button type="button" class="btn btn-primary w-25" onclick="addComment({{book.id}})">Đăng
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <p class="fs-6 mt-4">Bạn phải <a class="text-primary text-decoration-none" href="/login ">đăng
            nhập</a> hoặc <a href="/register" class="text-primary text-decoration-none"> đăng ký</a> để đánh giá</p>
        {% endif%}
        {% if c in comments %}
        <hr>
        {% endif %}
        {% for c in comments %}
        <hr>
        <div class="row mt-2">
            <div class="col-md-3 d-flex gap-3">
                <div>
                    <img class="img rounded-circle"
                         src="{{ c.user.avatar }}" height="50px" width="auto"/>
                </div>
                <div>
                    <p class="fs-5 fw-semibold">{{c.user.username}}</p>
                    <small>{{c.created_date}}</small>
                </div>
            </div>
            <div class="col">
                <p class="fs-6">{{c.content}}</p>
            </div>
        </div>

        {% endfor %}

    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment-with-locales.min.js"></script>
<script src="{{ url_for('static', filename='js/addComment.js') }}"></script>
<script>
    window.onload = function() {
        let dates = document.getElementsByClassName("created-date");
        for (let d of dates)
            d.innerText = moment(d.innerText).locale('vi')
    }
</script>
{% endblock%}