{% extends 'layout/base.html'%}

{% block title %}Tài khoản{% endblock %}

{% block content %}
<div class="row mt-4">
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item fs-4 text-danger">Tài khoản</li>
            <li class="list-group-item active"><a class="nav-link" href="/user/user-info">Thông tin tài
                khoản</a></li>
            <li class="list-group-item"><a class="nav-link" href="/user/user-receipt">Đơn hàng của tôi</a>
            </li>
        </ul>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h3>Thông tin tài khoản</h3>
                <form method="post" action="/update-user">
                    <div class="row mt-5 gap-5">
                        <div class="col-md-2">
                            <label for="fullname" class="form-label fs-5">Họ tên</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="fullname" name="fullname" class="form-control"
                                   value="{{current_user.fullname}}">
                        </div>
                    </div>
                    <div class="row mt-3 gap-5">
                        <div class="col-md-2">
                            <label for="username" class="form-label fs-5">Tên tài khoản</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="username" name="username" class="form-control"
                                   value="{{current_user.username}}">
                        </div>
                    </div>
                    <div class="row mt-3 gap-5">
                        <div class="col-md-2">
                            <label for="phone" class="form-label fs-5">Số điện thoại</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="phone" name="phone" class="form-control"
                                   value="{{current_user.phone}}">
                        </div>
                    </div>
                    <div class="row mt-3 gap-5">
                        <div class="col-md-2">
                            <label for="email" class="form-label fs-5">Email</label>
                        </div>
                        <div class="col-auto">
                            <input type="email" id="email" name="email" class="form-control"
                                   value="{{current_user.email}}">
                        </div>
                    </div>
                    <div class="row mt-3 gap-5">
                        <div class="col-md-2">
                            <label for="address" class="form-label fs-5">Địa chỉ</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="address" name="address" class="form-control"
                                   value="{{current_user.address}}">
                        </div>
                    </div>
                    <div class="mt-3 row gap-5">
                        <div class="col-md-2">
                            <label class="form-label fs-5">Ảnh đại diện</label>
                        </div>
                        <div class="col-auto">
                            <img
                                    src="{{current_user.avatar}}"
                                    class="img border rounded-4" alt="..."
                                    height="200px"
                                    width="auto">
                        </div>
                    </div>
                    <div class="mt-5">
                        <button type="submit" class="btn btn-danger fs-5">Thay đổi</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}