{% extends 'admin/master.html' %}

{% block body %}

{% if current_user.is_authenticated %}

<div class="row mt-5 d-flex justify-content-around">
    <div class="card shadow" style="width: 12rem;">
        <div class="card-body">
            <h5 class="card-title">Thể loại</h5>
            <p class="card-text">{{count[0]}}</p>
        </div>
    </div>
    <div class="card  shadow" style="width: 12rem;">
        <div class="card-body">
            <h5 class="card-title">Sách</h5>
            <p class="card-text">{{count[1]}}</p>
        </div>
    </div>
    <div class="card shadow" style="width: 12rem;">
        <div class="card-body">
            <h5 class="card-title">Người dùng</h5>
            <p class="card-text">{{count[2]}}</p>
        </div>
    </div>
    <div class="card  shadow" style="width: 12rem;">
        <div class="card-body">
            <h5 class="card-title">Số đơn hàng</h5>
            <p class="card-text">{{count[3]}}</p>
        </div>
    </div>
    <div class="card shadow" style="width: 12rem;">
        <div class="card-body">
            <h5 class="card-title">Tổng doanh thu</h5>
            <p class="card-text">{{"{:,.0f}".format(count[4])}} đ</p>
        </div>
    </div>
</div>
<div class="card mt-5">
    <div class="row card-body mt-5">
        <div class="col-md-5 col-12">
            <canvas id="chart1"></canvas>
            <p class="text-center">Số lượng sách của mỗi thể loại</p>
        </div>
        <div class="col-md-5 col-12 ">
            <canvas id="chart2"></canvas>
            <p class="text-center">Doanh thua theo thể loại</p>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/stats.js') }}"></script>
<script>
    let labels = [];
    let data = [];
    {% for s in stats %}
        data.push({{ s[2] }});
        labels.push('{{ s[1] }}');
    {% endfor %}
       let labels2 = [];
    let data2 = [];
    {% for s in rev_cat %}
        data2.push({{ s.total_revenue }});
        labels2.push('{{ s.cate_name }}');
    {% endfor %}
    window.onload = function() {
        drawChart1("pie", data, labels);
        drawChart2("bar", data2, labels2);
    }
</script>

{% else %}
<h2 class="text-center text-info mt-5">Đăng nhập</h2>
<form method="post" action="/admin-login">
    <div class="mx-auto w-50">
        <div class="form-group mb-3 mt-3">
            <label for="username">Tên đăng nhập</label>
            <input type="text" class="form-control" id="username" placeholder="Tên đăng nhập" name="username"
                   pattern="[a-zA-Z0-9]*" required>
        </div>

        <div class="form-group mt-3 mb-3">
            <label for="password">Mật khẩu</label>
            <input type="password" class="form-control" id="password" placeholder="Mật khẩu" name="password" required>

        </div>

        <div class="form-floating mt-3 mb-3">
            <button class="btn btn-success" type="submit">Đăng nhập</button>
        </div>
    </div>

</form>
{% endif %}


{% endblock %}